page-home {
    md-grid-tile {
        background: #000;
        position: relative;
    }

    md-grid-tile .tile-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    md-grid-tile img {
        width:100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
    }

    img.desaturate {
        filter: grayscale(100%);
        opacity: 0.5;
    }

    .popover {
        padding: 15px;
    }

    .tile-container {
        position: relative;
    }

    .tile-container span {
        position: absolute;
        z-index: 100;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: #fff;
        font-size: 3.2rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.7;
    }

    .check {
        position: absolute;
        color: #fff;
        font-size: 3.2rem;
        z-index: 100;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        opacity: 0.6;
    }

    


}
