<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-apps"></ion-icon>
    </button>
    <ion-title>Preschooled</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="options()">
            <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <md-grid-list cols="4" rowHeight="1:1">

    <md-grid-tile *ngFor="let pod of pods" (click)="details(pod)">
      <div class="tile-container" *ngIf="pod.status == 0">  
        <img src="assets/images/{{pod.avatar}}" alt="">
      </div>

      <div class="tile-container" *ngIf="pod.status == 1">  
        <img class="desaturate" src="assets/images/{{pod.avatar}}" alt="">
        <div class="check">
          <ion-icon md="md-checkmark-circle"></ion-icon>
        </div>
      </div>

    </md-grid-tile>
    
  </md-grid-list>
  
  <!--<button md-icon-button><i class="material-icons">textsms</i></button>  
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>
  
  <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
