<ion-header class="header">
  <ion-navbar>
    <!--<button ion-button menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>-->
    <ion-title>
      <img src="assets/images/brand.png" alt="" style="height: 26px; margin-top: 6px;">
      <span *ngIf="completed" class="total">{{completed}}/27</span>
    </ion-title>
    <ion-buttons end>

        <button class="dark-btn" ion-button icon-only (click)="openModal()">
            <ion-icon name="md-information-circle"></ion-icon>
        </button>

        <button class="dark-btn" ion-button icon-only (click)="options()">
            <ion-icon name="md-more"></ion-icon>
        </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <md-grid-list cols="3" rowHeight="1:1">

    <md-grid-tile class="tappable-tile" tappable *ngFor="let pod of pods" (click)="details(pod)">

      <div class="tile-container" *ngIf="pod.status == 0">  
        <img src="assets/gif/{{pod.gif}}" alt="" style="min-height: 135px;">
        <!--<span>{{pod.id | number:'2.0'}}</span>-->
      </div>

      <div class="tile-container" *ngIf="pod.status == 1">  
        <img class="desaturate" src="assets/images/{{pod.avatar}}" alt="">
        <div class="check">
          <ion-icon md="md-checkmark-circle" style="color: #1e00f3"></ion-icon>
        </div>
      </div>

    </md-grid-tile>
    
  </md-grid-list>
  
</ion-content>
