<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-apps"></ion-icon>
    </button>
    <ion-title>{{module.name}}</ion-title>
    <ion-buttons end>

        <button *ngIf="module.status == 1" ion-button icon-only (click)="options()">
            <ion-icon name="md-more"></ion-icon>
        </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <md-grid-list cols="4" rowHeight="1:1">

    <md-grid-tile *ngFor="let pod of pods" (click)="details(pod)">
      <div class="tile-container" *ngIf="pod.status == 0">  
        <img src="assets/images/{{pod.avatar}}" alt="" style="min-height: 135px;">
        <span>{{pod.id | number:'2.0'}}</span>
      </div>

      <div class="tile-container" *ngIf="pod.status == 1">  
        <img class="desaturate" src="assets/images/{{pod.avatar}}" alt="">
        <div class="check">
          <ion-icon md="md-checkmark-circle"></ion-icon>
        </div>
      </div>

    </md-grid-tile>
    
  </md-grid-list>
</ion-content>
