<ion-content #content class="scroll-content-actual">

  <div class="content">
    <img src="/assets/images/bg.png" alt="">
  </div>
  
  <!--<md-grid-list cols="5" rowHeight="1:1">
    <md-grid-tile>1</md-grid-tile>
    <md-grid-tile>2</md-grid-tile>
    <md-grid-tile>3</md-grid-tile>
    <md-grid-tile>4</md-grid-tile>
    <md-grid-tile>5</md-grid-tile>
    <md-grid-tile>1</md-grid-tile>
    <md-grid-tile>2</md-grid-tile>
    <md-grid-tile>3</md-grid-tile>
    <md-grid-tile>4</md-grid-tile>
    <md-grid-tile>5</md-grid-tile>
  </md-grid-list>-->

  <!--<li *ngFor="let item of items | async">
       {{ item | json }}
    </li>-->

</ion-content>

<ion-header>
    <ion-navbar no-border-bottom color="white">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Feed</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="md-calendar"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    
    <ion-content #scroller class="scroll-content-container">
            <ion-row>
                <ion-col width-15 *ngFor="let day of days">
                    
                    <button class="no-shadow number-fab" ion-fab clear outline mini *ngIf="!day.selected" (click)="changeDay(day)">
                        <!--<div class="day-title">TUE</div>-->
                        {{day.number}}
                    </button> 
                    <button class="no-shadow number-fab active" ion-fab clear outline mini *ngIf="day.selected" (click)="changeDay(day)">
                        {{day.number}}
                    </button> 
                </ion-col>
            </ion-row>
    </ion-content>
</ion-header>
