// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-shadow {
    box-shadow: none !important;
    transition: none !important;
}

.toolbar-background-md {
    background: #6142f4;
    // border-color: #166b47;
    // background: #3aca8d;
    color: #fff;
}

.toolbar-title-md {
    color: #fff;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #3821a7;
}

.back-button.show-back-button {
    color: #fff;
}

.app-menu .toolbar-background-md {
    // background: #ff0000;
}

.menu-header {
    width: 100%;
    min-height: 150px;
    background: #ff0000;
}

.app-menu {
    height: 200px;
}

.app-menu .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 15px;
    color: #666;
}

.item-md ion-icon {
    color: #333;
    font-size: 22px;
    margin-top: 18px !important;
}

.popover-md .popover-content {
    width: 300px;
}

.fb-btn {
    background-color: #294ea2;
}

.complete-btn {
    margin-bottom: 5px;
    width: 100%; 
    box-shadow: none;
}

.complete-btns {
    padding: 5px 10px;
}

.nailed-it {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15px;
}

.nailed-it img {
    width: 60%;
}

.leveled-up {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5px;
}

.leveled-up img {
    width: 90%;
}

.level-gif {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.level {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -40px;
}